<html>
<head>
<title>Edit Booking Details</title>
</head>
<body>
    <h1>Edit <%=booking.fullName%> Details</h1><br>
    <form action="/update-booking-record<%=booking._id%>/edit?_method=PUT" method="POST">
        <label for="passenger_name">Passenger Name</label>
        <input type="text" id="passenger_name" name="booking[passenger_name]" value="<%=booking.passenger_name%>"><br><br>
        <label for="pickup_location">Pick-up Location</label>
        <input type="text" id="pickup_location" name="booking[pickup_location]" value="<%=booking.pickup_location%>"><br><br>
        <label for="dropoff_location">Drop-off Location</label>
        <input type="text" id="dropoff_location" name="booking[dropoff_location]" value="<%=booking.dropoff_location%>"><br><br>
        <label for="pickup_time">Pick-up Time</label>
        <input type="time" id="pickup_time" name="booking[pickup_time]" value="<%=booking.pickup_time%>"><br><br>
        <label for="dropoff_time">Drop-off Time</label>
        <input type="time" id="dropoff_time" name="booking[dropoff_time]" value="<%=booking.dropoff_time%>"><br><br>
        <label for="date">Date</label>
        <input type="date" id="date" name="booking[date]" value="<%=booking.date%>"><br><br>
        <label for="car">Car</label>
        <input type="text" id="car" name="booking[car]" value="<%=booking.car%>"><br><br>
        <label for="number_of_passengers">Number of Passengers</label>
        <input type="number" id="number_of_passengers" name="booking[number_of_passengers]" value="<%=booking.number_of_passengers%>"><br><br>
        <input type="submit">
    </form><br><br>
    <div>
       <button><a href="/view-all-booking">Exit</a></button>
    </div> 
   
</body>
</html>